In [1]:
from pymongo import MongoClient
import pandas as pd
import datetime

In [2]:
client = MongoClient()
characters = client.ck2.characters

## Descendents of Charlemagne

Same calculation as in notebook 2 but now including all descendents through female descendents as well by using the parents array ([fat, mot]) instead of just the fat value for connectToField. Over the 26 generations found in notebook 2 there are 48,000 characters that claim descent from Charlemagne.

In [3]:
pipeline = [
    {
        "$match" : {"_id" : 6392}
    },      
    {
        "$graphLookup": 
        {
            "from": "characters",
            "startWith": "$_id",
            "connectFromField": "_id",
            "connectToField": "parents",
            "as": "descendent"
        }},
    {"$project" : { "bn" : 1, "descendents" : {"$size" : "$descendent"} }    }
]

In [4]:
karl = characters.aggregate(pipeline)

In [5]:
for char in karl:
    print(char)

{'_id': 6392, 'bn': 'Charles', 'descendents': 48501}

## Groupby Family

Most marriages by Charlemagne's descendents have been into the Alachisling dynasty. The Isauros rule Byzantium for a while before eventually losing power to the Kyritzios. The Uuidoch rule Scotland and briefly a crusade liberated Greece while the Penikis rise to power in Bulgaria, Finland and Russia. Charlemagne has many descendents and they marry into many of the most powerful houses in Europe.

A list of all families to rule a Kingdom or Empire level title and the titles they held is shown in notebook 7.1 Titles per Dynasty.

In [6]:
pipeline = [
    {
        "$match" : {"_id" : 6392}
    },      
    {
        "$graphLookup": 
        {
            "from": "characters",
            "startWith": "$_id",
            "connectFromField": "_id",
            "connectToField": "parents",
            "as": "descendent",
            "depthField": "generation"
            #"maxDepth" : 1
        }
    },    
    {"$unwind" : "$descendent" },
    {"$lookup" :
     {
            "from" : "dynasties",
            "localField" : "descendent.dnt",
            "foreignField" : "_id",
            "as" : "descendent_dyn"
        }
    },
    {"$unwind" : "$descendent_dyn" },
    {
        "$group":
        {
            "_id" : "$descendent_dyn.name",
            "total" : {"$sum" : 1}
        }
    },
    {"$sort" : { "total" : -1 } },
    {"$limit" : 10}
]

In [7]:
karl = characters.aggregate(pipeline)
for char in karl:
    print(char)

{'_id': 'Alachisling', 'total': 728}
{'_id': 'Isauros', 'total': 613}
{'_id': 'Penikis', 'total': 506}
{'_id': 'Abbasid', 'total': 488}
{'_id': 'Uuidoch', 'total': 485}
{'_id': 'Rangabes', 'total': 465}
{'_id': 'Makrembolites', 'total': 451}
{'_id': 'Palemonaitis', 'total': 447}
{'_id': 'Kyritzios', 'total': 439}
{'_id': 'Uzur', 'total': 366}

## Real Descent

This cell uses the rparents value. Thus the rfat value will be used if it is set, if not the fat value will be set. The rfat value will be set where the character was born out of wedlock or their stated father isn't their real father. This calculation will drop any descendents, and their descendents, where their real father isn't a descendent of Charlemagne. It will include children who are descendents but are illegitimate don't know their true heritage.

In [8]:
pipeline = [
    {
        "$match" : {"_id" : 6392}
    },      
    {
        "$graphLookup": 
        {
            "from": "characters",
            "startWith": "$_id",
            "connectFromField": "_id",
            "connectToField": "rparents",
            "as": "descendent"
        }},
    {"$project" : { "bn" : 1, "descendents" : {"$size" : "$descendent"} }    }
]

In [9]:
for char in characters.aggregate(pipeline):
    print(char)

{'_id': 6392, 'bn': 'Charles', 'descendents': 49216}

# Real GroupBy Family

In [10]:
pipeline = [
    {
        "$match" : {"_id" : 6392}
    },      
    {
        "$graphLookup": 
        {
            "from": "characters",
            "startWith": "$_id",
            "connectFromField": "_id",
            "connectToField": "rparents",
            "as": "descendent",
            "depthField": "generation"
        }},    
    {"$unwind" : "$descendent" },
    {"$lookup" :
     {
            "from" : "dynasties",
            "localField" : "descendent.dnt",
            "foreignField" : "_id",
            "as" : "descendent_dyn"
        }
    },
    {"$unwind" : "$descendent_dyn" },
    {
        "$group":
        {
            "_id" : "$descendent_dyn.name",
            "total" : {"$sum" : 1}
        }
    },
    {"$sort" : { "total" : -1 } },
    {"$limit" : 10}
]

In [11]:
karl = characters.aggregate(pipeline)
for char in karl:
    print(char)

{'_id': 'Alachisling', 'total': 715}
{'_id': 'Isauros', 'total': 610}
{'_id': 'Penikis', 'total': 498}
{'_id': 'Uuidoch', 'total': 487}
{'_id': 'Abbasid', 'total': 478}
{'_id': 'Rangabes', 'total': 459}
{'_id': 'Makrembolites', 'total': 450}
{'_id': 'Palemonaitis', 'total': 446}
{'_id': 'Kyritzios', 'total': 428}
{'_id': 'Kritopolos', 'total': 361}

# Shared Descendents

This is something I looked at only quickly. I take two characters, in this case Charlemagne and Cobthach Eóganacht-Locha Léin, Count of Thomond, died 789, and find all descendents that they have in common. In total Cobhtach has 14000 descendents so the two lines mearge early on. Both men share over 10000 descendents in common. Most of those descendents are members of the Scottish Uuidoch dynasty, but also of the Mel dynasty that forms England and the de Chaumontois rulers of Lotharingia.

In [12]:
pipeline = [
    {
        "$match" : {"_id" : 6392} #Charlemagne
    },      
    {
        "$graphLookup": 
        {
            "from": "characters",
            "startWith": "$_id",
            "connectFromField": "_id",
            "connectToField": "parents",
            "as": "descendent"
        }
    },
    {
        "$unwind" : "$descendent"
    },
    {
        "$project" : { "_id" : 0, "charId" : "$descendent._id" }
    }
]

In [13]:
char1 = set()

for karl in characters.aggregate(pipeline):
    char1.add(karl["charId"])

In [14]:
pipeline = [
    {
        "$match" : {"_id" : 83791} #Cobthach Count of Thomond 745-789
    },      
    {
        "$graphLookup": 
        {
            "from": "characters",
            "startWith": "$_id",
            "connectFromField": "_id",
            "connectToField": "parents",
            "as": "descendent"
        }
    },
    {
        "$unwind" : "$descendent"
    },
    {
        "$project" : { "_id" : 0, "charId" : "$descendent._id" }
    }
]

In [15]:
char2 = set()

for karl in characters.aggregate(pipeline):
    char2.add(karl["charId"])

In [16]:
comb = char1.intersection(char2)
len(comb)

10414

In [17]:
pipeline = [
    {
        "$match" : {"_id" : {"$in" : list(comb)}}
    },      
    {
        "$lookup": 
        {
            "from": "dynasties",
            "localField": "dnt",
            "foreignField": "_id",
            "as": "dynasty"
        }
    },
    {
        "$unwind" : "$dynasty"
    },
    {
       "$group" : { "_id" : "$dynasty._id", "name" : {"$first" : "$dynasty.name"}, "total" : {"$sum" : 1} }
    },
    {
        "$sort" : {"total" : -1}
    }
]

In [18]:
for karl in characters.aggregate(pipeline):
    print(karl)

{'_id': 1040016, 'name': 'Uuidoch', 'total': 473}
{'_id': 25060, 'name': 'de Chaumontois', 'total': 263}
{'_id': 1044053, 'name': 'Alachisling', 'total': 256}
{'_id': 10295042, 'name': 'Mel', 'total': 221}
{'_id': 1044115, 'name': 'Abbonid', 'total': 201}
{'_id': 25061, 'name': 'Karling', 'total': 173}
{'_id': 1044116, 'name': 'Nibelunging', 'total': 150}
{'_id': 623, 'name': 'de Lagery', 'total': 144}
{'_id': 9230, 'name': 'Eóganacht-Locha Léin', 'total': 142}
{'_id': 544, 'name': 'de Soissons', 'total': 137}
{'_id': 356, 'name': 'de Baalun', 'total': 115}
{'_id': 306, 'name': 'du Perche', 'total': 111}
{'_id': 1044100, 'name': 'Emichid', 'total': 109}
{'_id': 9231, 'name': 'Mac Finnachta', 'total': 109}
{'_id': 10305082, 'name': 'Adalbertingi', 'total': 101}
{'_id': 10308289, 'name': 'de Trier', 'total': 98}
{'_id': 10297465, 'name': 'Falco', 'total': 97}
{'_id': 1044084, 'name': 'Liutprandingi', 'total': 92}
{'_id': 360, 'name': 'Estouteville', 'total': 90}
{'_id': 10302654, 'name': 'of Bamburgh', 'total': 89}
{'_id': 4010, 'name': 'Clifford', 'total': 87}
{'_id': 319, 'name': 'de Laval', 'total': 82}
{'_id': 4013, 'name': 'Carew', 'total': 82}
{'_id': 339, 'name': 'de Crecy', 'total': 78}
{'_id': 10297032, 'name': 'de Sarvay', 'total': 76}
{'_id': 9314, 'name': 'Australdling', 'total': 74}
{'_id': 14261, 'name': 'Mochnant', 'total': 72}
{'_id': 415, 'name': 'de Hainault', 'total': 71}
{'_id': 1044052, 'name': 'Munichingi', 'total': 67}
{'_id': 502, 'name': 'af Munsö', 'total': 66}
{'_id': 715, 'name': 'de Lorraine', 'total': 65}
{'_id': 20036, 'name': 'Bethell', 'total': 64}
{'_id': 1022292, 'name': 'Karteroukas', 'total': 63}
{'_id': 10303031, 'name': 'Caliu', 'total': 62}
{'_id': 10305045, 'name': 'Araslan', 'total': 60}
{'_id': 10299793, 'name': 'Lampertingi', 'total': 60}
{'_id': 298, 'name': 'de Flotte', 'total': 58}
{'_id': 5060, 'name': "d'Avesnes", 'total': 58}
{'_id': 742, 'name': 'de Sémur-en-Brionnais', 'total': 57}
{'_id': 10303247, 'name': 'Ce', 'total': 57}
{'_id': 101737, 'name': 'Anchabadze', 'total': 56}
{'_id': 696, 'name': 'Mac Cennétig', 'total': 56}
{'_id': 4021, 'name': 'Howard', 'total': 55}
{'_id': 10305746, 'name': 'de Savona', 'total': 54}
{'_id': 301, 'name': 'de Champagne', 'total': 53}
{'_id': 4022, 'name': 'Maudit', 'total': 53}
{'_id': 10305524, 'name': 'Harodingian', 'total': 53}
{'_id': 9218, 'name': 'Ua Briúin Bréifne', 'total': 53}
{'_id': 10295491, 'name': 'Rodoaldingi', 'total': 53}
{'_id': 814, 'name': 'of Northumbria', 'total': 51}
{'_id': 9220, 'name': 'Ua Conchobar Sligig', 'total': 51}
{'_id': 315, 'name': 'de Preuilly', 'total': 49}
{'_id': 9329, 'name': 'Vuodi', 'total': 48}
{'_id': 9313, 'name': 'Adelards', 'total': 48}
{'_id': 9530, 'name': 'Penikis', 'total': 47}
{'_id': 100024, 'name': 'of Surrey', 'total': 47}
{'_id': 101709, 'name': 'Marshal', 'total': 47}
{'_id': 20137, 'name': 'de Vannes', 'total': 47}
{'_id': 340, 'name': 'de Bellegarde', 'total': 46}
{'_id': 20088, 'name': 'Rowe', 'total': 45}
{'_id': 14114, 'name': 'Ua Cathasaigh', 'total': 44}
{'_id': 1040011, 'name': 'Uib', 'total': 44}
{'_id': 5062, 'name': 'Clément', 'total': 43}
{'_id': 712, 'name': "d'Archiac", 'total': 43}
{'_id': 100073, 'name': 'of Kent', 'total': 43}
{'_id': 101946, 'name': 'Olkhunut', 'total': 42}
{'_id': 693, 'name': 'Mac Máil na mBó', 'total': 42}
{'_id': 9211, 'name': 'Ua Fáeláin', 'total': 42}
{'_id': 9116, 'name': 'Palemonaitis', 'total': 41}
{'_id': 821, 'name': 'Ulfing', 'total': 41}
{'_id': 10314290, 'name': 'Sviriskis', 'total': 40}
{'_id': 5035, 'name': 'de Menou', 'total': 40}
{'_id': 83, 'name': 'de Châtillion', 'total': 40}
{'_id': 565, 'name': 'of Canterbury', 'total': 40}
{'_id': 10306062, 'name': 'Uib', 'total': 39}
{'_id': 1047006, 'name': 'Cerdicing', 'total': 39}
{'_id': 8639, 'name': 'Murzuphlos', 'total': 38}
{'_id': 10302342, 'name': 'z Roztoki', 'total': 38}
{'_id': 25065, 'name': 'Jerome-Karling', 'total': 38}
{'_id': 10298986, 'name': 'de Trith', 'total': 37}
{'_id': 10315197, 'name': 'de Mark', 'total': 37}
{'_id': 1044066, 'name': 'Walpertingi', 'total': 37}
{'_id': 10304805, 'name': 'Giselbertingi', 'total': 35}
{'_id': 102013, 'name': 'Skjöldung', 'total': 35}
{'_id': 10307987, 'name': 'of Cemren', 'total': 35}
{'_id': 10313254, 'name': 'of Canterbury', 'total': 34}
{'_id': 10302007, 'name': 'Lampertingi', 'total': 33}
{'_id': 10316322, 'name': 'Mesanaktis', 'total': 32}
{'_id': 14284, 'name': 'Rhos', 'total': 32}
{'_id': 14109, 'name': 'Burke', 'total': 31}
{'_id': 10309357, 'name': 'Liutprandingi', 'total': 30}
{'_id': 10318436, 'name': 'de Comps', 'total': 29}
{'_id': 100061, 'name': 'of Lincoln', 'total': 29}
{'_id': 10315340, 'name': 'Liutprandingi', 'total': 29}
{'_id': 10294504, 'name': 'Velmaykid', 'total': 29}
{'_id': 10309770, 'name': 'Petringi', 'total': 29}
{'_id': 1044094, 'name': 'Hahilinga', 'total': 29}
{'_id': 10303306, 'name': 'Baghid', 'total': 28}
{'_id': 100017, 'name': 'of Hereford', 'total': 28}
{'_id': 7208, 'name': 'de Bures', 'total': 28}
{'_id': 9130, 'name': 'of the Golensizi', 'total': 28}
{'_id': 5002, 'name': 'de Mortemart', 'total': 28}
{'_id': 10313247, 'name': 'Engelbertingi', 'total': 27}
{'_id': 14121, 'name': 'Ua Dubgaill', 'total': 27}
{'_id': 10314281, 'name': 'Suvalkija', 'total': 26}
{'_id': 56, 'name': 'von Kärnten', 'total': 26}
{'_id': 5029, 'name': 'de Tournemire', 'total': 25}
{'_id': 5071, 'name': 'de Melun', 'total': 24}
{'_id': 10320047, 'name': 'de Fontiès', 'total': 23}
{'_id': 3108, 'name': 'Mac Gregoir', 'total': 23}
{'_id': 1040017, 'name': 'Ce', 'total': 23}
{'_id': 10311449, 'name': 'de Lausitz', 'total': 23}
{'_id': 9119, 'name': 'of Palenke', 'total': 22}
{'_id': 10321985, 'name': 'Ua Flaithbertaig', 'total': 22}
{'_id': 3106, 'name': 'na Ceardadh', 'total': 22}
{'_id': 100068, 'name': 'of Northampton', 'total': 22}
{'_id': 5034, 'name': 'Chabot', 'total': 22}
{'_id': 687, 'name': 'a Dúin Chaillden', 'total': 22}
{'_id': 7364, 'name': 'de Marash', 'total': 21}
{'_id': 7265, 'name': 'Grenier', 'total': 21}
{'_id': 1040228, 'name': 'Saaremaa', 'total': 21}
{'_id': 136, 'name': 'Ulv', 'total': 21}
{'_id': 10314282, 'name': 'Palemonaitis', 'total': 20}
{'_id': 100062, 'name': 'of Leicester', 'total': 20}
{'_id': 9303, 'name': 'de Saint-Valery', 'total': 19}
{'_id': 8766, 'name': 'de Fenouillet', 'total': 19}
{'_id': 10319493, 'name': 'Tatingi', 'total': 19}
{'_id': 1003, 'name': 'Bese', 'total': 19}
{'_id': 1031008, 'name': 'Ciesla', 'total': 19}
{'_id': 100058, 'name': 'of Lancaster', 'total': 19}
{'_id': 9569, 'name': 'Rorgonides', 'total': 19}
{'_id': 8646, 'name': 'Isauros', 'total': 19}
{'_id': 730, 'name': 'Bontemps', 'total': 19}
{'_id': 100021, 'name': 'of Gloucester', 'total': 19}
{'_id': 3103, 'name': 'Mac Néill', 'total': 19}
{'_id': 10306364, 'name': 'de Lévis', 'total': 19}
{'_id': 10321605, 'name': 'de Blanchegard', 'total': 19}
{'_id': 10314746, 'name': 'Radvila', 'total': 18}
{'_id': 10311525, 'name': 'Theodingi', 'total': 18}
{'_id': 10310982, 'name': 'Kichayid', 'total': 18}
{'_id': 1029003, 'name': 'Gwerthrynion', 'total': 18}
{'_id': 10307668, 'name': 'Metropoulos', 'total': 17}
{'_id': 3109, 'name': 'Mac Dubgaill', 'total': 17}
{'_id': 23115, 'name': 'de Brienne', 'total': 17}
{'_id': 10321279, 'name': 'Roderissingi', 'total': 17}
{'_id': 731, 'name': 'de Boullion', 'total': 17}
{'_id': 1044117, 'name': 'Erenolding', 'total': 17}
{'_id': 5024, 'name': 'de Noailles', 'total': 17}
{'_id': 100025, 'name': 'of Sussex', 'total': 17}
{'_id': 10320873, 'name': 'Leodwalding', 'total': 16}
{'_id': 10315644, 'name': 'of York', 'total': 16}
{'_id': 11121, 'name': 'Radziwill', 'total': 16}
{'_id': 100069, 'name': 'of Bedford', 'total': 16}
{'_id': 10315893, 'name': 'of Exeter', 'total': 16}
{'_id': 4024, 'name': 'Berkeley', 'total': 16}
{'_id': 4031, 'name': 'Grey', 'total': 16}
{'_id': 10322944, 'name': 'Walbertingi', 'total': 16}
{'_id': 2037, 'name': 'Holter', 'total': 16}
{'_id': 10322979, 'name': 'Zeffun', 'total': 15}
{'_id': 10308597, 'name': 'Syrikos', 'total': 15}
{'_id': 10313289, 'name': 'Temujin', 'total': 15}
{'_id': 796, 'name': 'Fromonides', 'total': 15}
{'_id': 100063, 'name': 'of Derby', 'total': 15}
{'_id': 7207, 'name': 'de Neuilly', 'total': 15}
{'_id': 10307329, 'name': 'Paksyayid', 'total': 15}
{'_id': 388, 'name': 'de Vasconia', 'total': 15}
{'_id': 146, 'name': 'Skarsholm', 'total': 15}
{'_id': 10321538, 'name': 'Korybut', 'total': 14}
{'_id': 10316461, 'name': 'Aristenos', 'total': 14}
{'_id': 12235, 'name': "d'Enghien", 'total': 14}
{'_id': 10319559, 'name': 'Roderissingi', 'total': 14}
{'_id': 12199, 'name': 'Ismailid', 'total': 14}
{'_id': 10310503, 'name': 'Sortes', 'total': 14}
{'_id': 684, 'name': 'de Foix', 'total': 14}
{'_id': 10312717, 'name': 'Liutprandling', 'total': 14}
{'_id': 7256, 'name': "d'Erville", 'total': 14}
{'_id': 1038, 'name': 'Tre Rutor', 'total': 14}
{'_id': 404, 'name': 'de Tilly', 'total': 14}
{'_id': 4009, 'name': 'Cornwallis', 'total': 14}
{'_id': 10317266, 'name': 'Bavarae', 'total': 14}
{'_id': 14256, 'name': 'Rhufoniog', 'total': 14}
{'_id': 8644, 'name': 'Rangabes', 'total': 13}
{'_id': 8752, 'name': 'de Lacarre', 'total': 13}
{'_id': 10314229, 'name': 'Billoingi', 'total': 13}
{'_id': 1051100, 'name': 'Uzur', 'total': 13}
{'_id': 10316202, 'name': 'Marapas', 'total': 13}
{'_id': 14111, 'name': 'Ua Cathail', 'total': 13}
{'_id': 23113, 'name': 'de Châtillon', 'total': 12}
{'_id': 10320251, 'name': 'Westminsterid', 'total': 12}
{'_id': 10321753, 'name': 'Alelkaitis', 'total': 12}
{'_id': 10297267, 'name': 'Ansprandling', 'total': 12}
{'_id': 10323536, 'name': 'Puttoc', 'total': 11}
{'_id': 10309353, 'name': 'Tachipertingi', 'total': 11}
{'_id': 10319849, 'name': 'Petringi', 'total': 11}
{'_id': 1047014, 'name': 'Beorming', 'total': 11}
{'_id': 14285, 'name': 'Crwthor', 'total': 11}
{'_id': 8693, 'name': 'de Motluel', 'total': 11}
{'_id': 10299067, 'name': 'Uerturio', 'total': 11}
{'_id': 101949, 'name': 'Tsookhor', 'total': 10}
{'_id': 10320743, 'name': 'Walbertingi', 'total': 10}
{'_id': 10319603, 'name': 'Faroaldingi', 'total': 10}
{'_id': 10302916, 'name': 'Meltsaykid', 'total': 10}
{'_id': 101422, 'name': 'Myrelaetes', 'total': 10}
{'_id': 10311348, 'name': 'of Harbijah', 'total': 10}
{'_id': 7241, 'name': "d'Ardres", 'total': 10}
{'_id': 357, 'name': 'de Vernon', 'total': 10}
{'_id': 5015, 'name': 'de Polignac', 'total': 10}
{'_id': 101351, 'name': 'Kritopolos', 'total': 10}
{'_id': 1057, 'name': 'Guldtupp', 'total': 10}
{'_id': 2019, 'name': 'Kiil', 'total': 10}
{'_id': 9201, 'name': 'Mac Mathgamna', 'total': 10}
{'_id': 304, 'name': "d'Eu", 'total': 10}
{'_id': 100070, 'name': 'of Norfolk', 'total': 10}
{'_id': 84, 'name': "d'Avaugour", 'total': 10}
{'_id': 819, 'name': 'Dál Fiatach', 'total': 10}
{'_id': 10323881, 'name': 'Bavarae', 'total': 9}
{'_id': 20035, 'name': 'de Rethel', 'total': 9}
{'_id': 101287, 'name': 'Haplorabdes', 'total': 9}
{'_id': 100071, 'name': 'of Suffolk', 'total': 9}
{'_id': 521, 'name': 'von Beilstein', 'total': 9}
{'_id': 23110, 'name': 'de Joinville', 'total': 9}
{'_id': 1047021, 'name': 'Leodwalding', 'total': 9}
{'_id': 10320238, 'name': 'Mubarakid', 'total': 8}
{'_id': 10320716, 'name': 'Xylaloes', 'total': 8}
{'_id': 10299836, 'name': 'Ghalibid', 'total': 8}
{'_id': 10324186, 'name': 'Nasrid', 'total': 8}
{'_id': 20103, 'name': 'Leon', 'total': 8}
{'_id': 7264, 'name': 'La Ferté', 'total': 8}
{'_id': 1023, 'name': 'Marsvin', 'total': 8}
{'_id': 10312523, 'name': 'Palemonaitis', 'total': 8}
{'_id': 10323816, 'name': 'Arioldling', 'total': 8}
{'_id': 14116, 'name': 'Ua Cleirigh', 'total': 8}
{'_id': 10316241, 'name': 'Katakylas', 'total': 8}
{'_id': 10311511, 'name': 'Waldulfingi', 'total': 8}
{'_id': 13106, 'name': 'de Matha', 'total': 8}
{'_id': 377, 'name': 'of Burgundy', 'total': 8}
{'_id': 10316143, 'name': 'Hlebowicius', 'total': 8}
{'_id': 4019, 'name': 'de Ros', 'total': 8}
{'_id': 23114, 'name': 'de la Roche', 'total': 8}
{'_id': 93, 'name': 'de Lusignan', 'total': 8}
{'_id': 10322038, 'name': 'Abbonid', 'total': 7}
{'_id': 101407, 'name': 'Mitylenaios', 'total': 7}
{'_id': 40004, 'name': 'de Lescar', 'total': 7}
{'_id': 100754, 'name': 'Basilakios', 'total': 7}
{'_id': 10323315, 'name': 'Gafurid', 'total': 7}
{'_id': 1044, 'name': 'Virske', 'total': 7}
{'_id': 10315327, 'name': 'Mountanis', 'total': 7}
{'_id': 10316323, 'name': 'Neapolites', 'total': 7}
{'_id': 100004, 'name': 'Connachta', 'total': 7}
{'_id': 10310899, 'name': 'Mangirdaitis', 'total': 7}
{'_id': 10314446, 'name': 'Wechtaringi', 'total': 7}
{'_id': 526, 'name': 'Brunswick', 'total': 7}
{'_id': 10303088, 'name': 'of Herakleia', 'total': 7}
{'_id': 20017, 'name': 'Leon', 'total': 7}
{'_id': 231, 'name': 'de Cleriuex', 'total': 7}
{'_id': 1044119, 'name': 'Hugonid', 'total': 7}
{'_id': 1029030, 'name': 'Dyfed', 'total': 7}
{'_id': 1040001, 'name': 'Dál Birn', 'total': 7}
{'_id': 10317794, 'name': 'Anemas', 'total': 6}
{'_id': 10322945, 'name': 'Roderissingi', 'total': 6}
{'_id': 10323231, 'name': 'Athollid', 'total': 6}
{'_id': 8696, 'name': 'de Valromey', 'total': 6}
{'_id': 9305, 'name': 'de Dun', 'total': 6}
{'_id': 10322869, 'name': 'Gaidoaldingi', 'total': 6}
{'_id': 10321359, 'name': 'Sant Mikael', 'total': 6}
{'_id': 149, 'name': 'Griphuvud', 'total': 6}
{'_id': 10309368, 'name': 'Maurozoumis', 'total': 6}
{'_id': 100028, 'name': 'of Somerset', 'total': 6}
{'_id': 10314283, 'name': 'Sviriskis', 'total': 6}
{'_id': 11127, 'name': 'Zamojski', 'total': 6}
{'_id': 10320714, 'name': 'de Coligny', 'total': 6}
{'_id': 10312004, 'name': 'Walpertingi', 'total': 6}
{'_id': 10320744, 'name': 'Gausian', 'total': 6}
{'_id': 4046, 'name': 'FitzPatrick', 'total': 6}
{'_id': 87, 'name': 'von Neuenburg', 'total': 6}
{'_id': 10322376, 'name': 'Khudu', 'total': 6}
{'_id': 10321752, 'name': 'Radvila', 'total': 6}
{'_id': 551, 'name': 'Mac Murchada', 'total': 6}
{'_id': 10324999, 'name': 'Hatt', 'total': 5}
{'_id': 10314433, 'name': 'Logothetes', 'total': 5}
{'_id': 10324447, 'name': 'Mac Torfinn', 'total': 5}
{'_id': 1144, 'name': 'Tre Sjöblad', 'total': 5}
{'_id': 1022111, 'name': 'Kyrdiniatis', 'total': 5}
{'_id': 20062, 'name': 'de Montlhéry', 'total': 5}
{'_id': 10318282, 'name': 'of Mercia', 'total': 5}
{'_id': 7210, 'name': 'de Chappes', 'total': 5}
{'_id': 10320234, 'name': 'Sami', 'total': 5}
{'_id': 10315264, 'name': 'de Blois', 'total': 5}
{'_id': 100022, 'name': 'of Oxford', 'total': 5}
{'_id': 10309341, 'name': 'Liutfredingi', 'total': 5}
{'_id': 100053, 'name': 'of Cumberland', 'total': 5}
{'_id': 10313314, 'name': 'de Crussol', 'total': 5}
{'_id': 10312378, 'name': 'Clifford', 'total': 5}
{'_id': 10302245, 'name': 'Tachipertingi', 'total': 5}
{'_id': 1044098, 'name': 'Hardrading', 'total': 5}
{'_id': 101603, 'name': 'Tynedale', 'total': 5}
{'_id': 1047000, 'name': 'Wuffing', 'total': 5}
{'_id': 10318376, 'name': 'Ua Cruadláich', 'total': 5}
{'_id': 10324009, 'name': 'Qawurdid', 'total': 4}
{'_id': 10320398, 'name': 'Abdullahid', 'total': 4}
{'_id': 9540, 'name': 'Wilks', 'total': 4}
{'_id': 10324238, 'name': 'Palemonaitis', 'total': 4}
{'_id': 10304381, 'name': 'Kashgarid', 'total': 4}
{'_id': 10320522, 'name': 'Kantakouzenos', 'total': 4}
{'_id': 10317549, 'name': 'Samirid', 'total': 4}
{'_id': 101601, 'name': 'Crawford', 'total': 4}
{'_id': 10315077, 'name': 'de Penthièvre', 'total': 4}
{'_id': 101479, 'name': 'Romaios', 'total': 4}
{'_id': 5030, 'name': 'de Curières', 'total': 4}
{'_id': 688, 'name': 'Mac Ailpin', 'total': 4}
{'_id': 10311846, 'name': 'de Gontaut', 'total': 4}
{'_id': 10309931, 'name': 'Roderissingi', 'total': 4}
{'_id': 10315739, 'name': 'Bacon', 'total': 4}
{'_id': 100072, 'name': 'of Wessex', 'total': 4}
{'_id': 1022270, 'name': 'Kyritzios', 'total': 4}
{'_id': 10302695, 'name': 'Orc', 'total': 4}
{'_id': 10317258, 'name': 'de Blois', 'total': 4}
{'_id': 10323763, 'name': 'Gausian', 'total': 4}
{'_id': 10317394, 'name': 'Yabghu', 'total': 4}
{'_id': 10300009, 'name': 'Hafizid', 'total': 4}
{'_id': 40014, 'name': 'de Guéret', 'total': 4}
{'_id': 7258, 'name': 'de Glane', 'total': 4}
{'_id': 10311298, 'name': 'de Tourraine', 'total': 4}
{'_id': 10322566, 'name': 'de Termes', 'total': 4}
{'_id': 40009, 'name': 'de Fezenzaguet', 'total': 4}
{'_id': 850, 'name': 'Blackadder', 'total': 4}
{'_id': 165, 'name': "d'Ibelin", 'total': 4}
{'_id': 547, 'name': 'Morgannwg', 'total': 4}
{'_id': 10324676, 'name': "d'Armagnac", 'total': 3}
{'_id': 10324129, 'name': 'Pandulfingi', 'total': 3}
{'_id': 10323930, 'name': 'of Northumbria', 'total': 3}
{'_id': 10324845, 'name': 'du Perche', 'total': 3}
{'_id': 10317424, 'name': 'Machetarios', 'total': 3}
{'_id': 1058, 'name': 'Ulfsax', 'total': 3}
{'_id': 10314289, 'name': 'Radvila', 'total': 3}
{'_id': 10322551, 'name': 'Beleoingi', 'total': 3}
{'_id': 10316646, 'name': 'Phokas', 'total': 3}
{'_id': 10314285, 'name': 'Pacas', 'total': 3}
{'_id': 10323383, 'name': 'de Montcatanier', 'total': 3}
{'_id': 10323673, 'name': 'Ansfridingi', 'total': 3}
{'_id': 10317835, 'name': 'Areobindenos', 'total': 3}
{'_id': 10322345, 'name': 'of Syria', 'total': 3}
{'_id': 1050, 'name': 'Läma', 'total': 3}
{'_id': 1020, 'name': 'Lake', 'total': 3}
{'_id': 10320348, 'name': 'de Penthievre', 'total': 3}
{'_id': 10322710, 'name': 'Gandulfingi', 'total': 3}
{'_id': 10318788, 'name': 'di Brunforte', 'total': 3}
{'_id': 10317867, 'name': 'de Napoli', 'total': 3}
{'_id': 10319132, 'name': 'Liutprandingi', 'total': 3}
{'_id': 10315209, 'name': 'Faroaldingi', 'total': 3}
{'_id': 10319457, 'name': 'de Guines', 'total': 3}
{'_id': 10320237, 'name': 'Durhamid', 'total': 3}
{'_id': 10315780, 'name': 'de Montacute', 'total': 3}
{'_id': 10316086, 'name': 'de Cuiseaux', 'total': 3}
{'_id': 10319413, 'name': 'of Devon', 'total': 3}
{'_id': 10323812, 'name': 'de Brienne', 'total': 3}
{'_id': 10314732, 'name': 'de Burgund', 'total': 3}
{'_id': 10325304, 'name': 'de Pins', 'total': 3}
{'_id': 10312693, 'name': 'de Brisebarre', 'total': 3}
{'_id': 10311864, 'name': 'of Bedford', 'total': 3}
{'_id': 10309909, 'name': 'Çatid', 'total': 3}
{'_id': 10310961, 'name': 'Yerneslu', 'total': 3}
{'_id': 10324931, 'name': 'Alelkaitis', 'total': 3}
{'_id': 10309528, 'name': 'Ua Briain', 'total': 3}
{'_id': 10324094, 'name': 'Harodingian', 'total': 3}
{'_id': 10307549, 'name': 'Barrois', 'total': 3}
{'_id': 10306884, 'name': 'Uuidoch', 'total': 3}
{'_id': 9222, 'name': 'Ua Conchobar Donn', 'total': 3}
{'_id': 10325003, 'name': "d'Apchier", 'total': 3}
{'_id': 10306051, 'name': 'Cadfeal', 'total': 3}
{'_id': 9215, 'name': 'Ua Rubann', 'total': 3}
{'_id': 10305565, 'name': 'Mac Máil na mBó', 'total': 3}
{'_id': 10305804, 'name': 'Craig', 'total': 3}
{'_id': 10324233, 'name': 'Daufingi', 'total': 3}
{'_id': 9121, 'name': 'Sieradzki', 'total': 3}
{'_id': 10322166, 'name': 'de Joinville', 'total': 3}
{'_id': 14258, 'name': 'Penllyn', 'total': 3}
{'_id': 20016, 'name': 'de Nantes', 'total': 3}
{'_id': 9225, 'name': 'Eóganacht-Chaisil', 'total': 3}
{'_id': 12110, 'name': 'Unruochinger', 'total': 3}
{'_id': 10312525, 'name': 'de Luxembourg', 'total': 3}
{'_id': 10320295, 'name': 'Iceling', 'total': 3}
{'_id': 1043, 'name': 'Vinstorpa', 'total': 3}
{'_id': 10293494, 'name': 'Kubasarid', 'total': 3}
{'_id': 10293230, 'name': 'Hildradson', 'total': 3}
{'_id': 10314969, 'name': 'de Voisins', 'total': 3}
{'_id': 10316555, 'name': 'de Guincamp', 'total': 3}
{'_id': 10321109, 'name': 'of Schaffhausen', 'total': 3}
{'_id': 10312257, 'name': 'de Druyes', 'total': 3}
{'_id': 10322198, 'name': "d'Apulia", 'total': 3}
{'_id': 2010, 'name': 'Bratt', 'total': 3}
{'_id': 1022268, 'name': 'Avastaktos', 'total': 3}
{'_id': 10323694, 'name': 'Libadas', 'total': 3}
{'_id': 1046, 'name': 'Vingad Lilja', 'total': 2}
{'_id': 10324619, 'name': 'Mac Gregoir', 'total': 2}
{'_id': 10323486, 'name': 'Valmantaitis', 'total': 2}
{'_id': 1032, 'name': 'Sture', 'total': 2}
{'_id': 10325514, 'name': 'Kesgailos', 'total': 2}

{'_id': 10308448, 'name': 'Richfriding', 'total': 1}
{'_id': 10304974, 'name': 'Clwyd', 'total': 1}
{'_id': 10304375, 'name': 'de Oca', 'total': 1}
{'_id': 100374, 'name': 'Goštautas', 'total': 1}
{'_id': 10310627, 'name': 'Strathearn', 'total': 1}
{'_id': 10312466, 'name': 'of Dorset', 'total': 1}
{'_id': 10314408, 'name': 'de Saintonge', 'total': 1}
{'_id': 10313896, 'name': 'Giselbertling', 'total': 1}
{'_id': 10296168, 'name': 'de Lyon', 'total': 1}
{'_id': 10304291, 'name': 'Ua Cruadláich', 'total': 1}
{'_id': 10307017, 'name': 'of Westmorland', 'total': 1}
{'_id': 10313144, 'name': 'Bontemps', 'total': 1}
{'_id': 10308293, 'name': 'of Ternyllwg', 'total': 1}
{'_id': 10308288, 'name': 'van Périgord', 'total': 1}
{'_id': 10314526, 'name': 'of Korinthos', 'total': 1}
{'_id': 10320134, 'name': 'of Wessex', 'total': 1}
{'_id': 10316825, 'name': 'of Ulster', 'total': 1}
{'_id': 10316842, 'name': 'de Bihar', 'total': 1}
{'_id': 10314712, 'name': 'des Roches', 'total': 1}
{'_id': 10313372, 'name': 'Shirgugetu', 'total': 1}
{'_id': 10313868, 'name': 'of Lincoln', 'total': 1}
{'_id': 10312684, 'name': 'de Thouars', 'total': 1}
{'_id': 10304221, 'name': 'Ua Fergail', 'total': 1}
{'_id': 10316830, 'name': 'de Feher', 'total': 1}
{'_id': 10302585, 'name': 'de Glamorgan', 'total': 1}
{'_id': 10310767, 'name': 'Uib', 'total': 1}
{'_id': 10314747, 'name': 'de Venaissin', 'total': 1}
{'_id': 1042, 'name': 'Vasa', 'total': 1}
{'_id': 10317731, 'name': 'Xiphias', 'total': 1}
{'_id': 10322925, 'name': "d'Alsace", 'total': 1}
{'_id': 10307430, 'name': 'de Bourbon', 'total': 1}
{'_id': 10315943, 'name': "d'Yperen", 'total': 1}
{'_id': 10322950, 'name': 'iš Orsha', 'total': 1}
{'_id': 10317446, 'name': 'de Grandson', 'total': 1}
{'_id': 10324829, 'name': 'de Mzab', 'total': 1}
{'_id': 10311745, 'name': 'de Bar', 'total': 1}
{'_id': 10317081, 'name': 'de Rom', 'total': 1}
{'_id': 10314500, 'name': "d'Amiens", 'total': 1}
{'_id': 4002, 'name': 'Despencer', 'total': 1}
{'_id': 10324483, 'name': 'de Gent', 'total': 1}
{'_id': 10308239, 'name': 'de Tír Eoghain', 'total': 1}
{'_id': 10312056, 'name': "d'Agder", 'total': 1}
{'_id': 10323225, 'name': 'Sulayman', 'total': 1}
{'_id': 214011, 'name': 'Naimanid', 'total': 1}
{'_id': 10321347, 'name': "d'Uppland", 'total': 1}
{'_id': 10309940, 'name': 'of Shropshire', 'total': 1}
{'_id': 10314257, 'name': 'de Jülich', 'total': 1}
{'_id': 10314407, 'name': 'de Fiennes', 'total': 1}
{'_id': 10311222, 'name': 'de Cumberland', 'total': 1}
{'_id': 10318970, 'name': 'of Constantinople', 'total': 1}
{'_id': 10306839, 'name': 'de Connachta', 'total': 1}
{'_id': 9570, 'name': 'Khunzakhal', 'total': 1}
{'_id': 10316315, 'name': 'de Évreux', 'total': 1}
{'_id': 10310840, 'name': 'de Innse Gall', 'total': 1}
{'_id': 10315329, 'name': 'Çatn', 'total': 1}
{'_id': 10309476, 'name': 'de Teviotdale', 'total': 1}
{'_id': 10310885, 'name': 'de Périgord', 'total': 1}
{'_id': 5056, 'name': 'de Mayenne', 'total': 1}
{'_id': 10309936, 'name': 'de Bourges', 'total': 1}
{'_id': 10305971, 'name': 'of Northampton', 'total': 1}
{'_id': 101438, 'name': 'Palaiologos Komnenos', 'total': 1}
{'_id': 10308015, 'name': 'de Rosello', 'total': 1}
{'_id': 10323355, 'name': 'de St Satur', 'total': 1}
{'_id': 10314072, 'name': 'de Dohna', 'total': 1}
{'_id': 5069, 'name': 'de Garlande', 'total': 1}
{'_id': 10314270, 'name': 'Kundaçiqid', 'total': 1}
{'_id': 10318131, 'name': 'de Provence', 'total': 1}
{'_id': 10300018, 'name': 'Wechtaringi', 'total': 1}
{'_id': 10316343, 'name': 'of Sussex', 'total': 1}
{'_id': 10320236, 'name': 'Bahirid', 'total': 1}
{'_id': 10309887, 'name': 'von Thouars', 'total': 1}
{'_id': 10320352, 'name': 'de Shetland', 'total': 1}
{'_id': 1044110, 'name': 'Hessing', 'total': 1}
{'_id': 10304222, 'name': 'de Deasmhumhain', 'total': 1}
{'_id': 10314505, 'name': 'de Borkum', 'total': 1}
{'_id': 1047022, 'name': 'Eadwulfing', 'total': 1}
{'_id': 10303118, 'name': 'of Ulster', 'total': 1}
{'_id': 10311333, 'name': 'de Chalons', 'total': 1}
{'_id': 10318967, 'name': 'de Léon', 'total': 1}
{'_id': 10308877, 'name': 'Unwanid', 'total': 1}
{'_id': 199, 'name': 'Ua Néill Noígiallaich', 'total': 1}
{'_id': 10309569, 'name': 'de Sjælland', 'total': 1}
{'_id': 10308051, 'name': 'van Périgord', 'total': 1}

# Descent from Muhammad Aleppo

In the next notebook Muhammad Aleppo (died 994) will show up with the record number of children. They won't aid him in securing a legacy however as he has only 3435 descendents in total by the end of the game. As many are illegitimate this may have made it difficult to find spouses and indeed there is a high number of murders, 326 of them are killed. Both the Sami and the Muradid dynasties will rule Persia but there are no other big name title holding dynasties in the top 10 that are descended from him.

In [19]:
pipeline = [
    {
        "$match" : {"_id" : 629398}
    },      
    {
        "$graphLookup": 
        {
            "from": "characters",
            "startWith": "$_id",
            "connectFromField": "_id",
            "connectToField": "rparents",
            "as": "descendent"
        }},
    {"$project" : { "bn" : 1, "descendents" : {"$size" : "$descendent"} }    }
]

In [20]:
for karl in characters.aggregate(pipeline):
    print(karl)

{'_id': 629398, 'bn': 'Muhammad', 'descendents': 3435}

## Dynasties Descended from Muhammad Aleppo

In [21]:
pipeline = [
    {
        "$match" : {"_id" : 629398}
    },      
    {
        "$graphLookup": 
        {
            "from": "characters",
            "startWith": "$_id",
            "connectFromField": "_id",
            "connectToField": "rparents",
            "as": "descendent",
            "depthField": "generation"
        }},    
    {"$unwind" : "$descendent" },
    {"$lookup" :
     {
            "from" : "dynasties",
            "localField" : "descendent.dnt",
            "foreignField" : "_id",
            "as" : "descendent_dyn"
        }
    },
    {"$unwind" : "$descendent_dyn" },
    {
        "$group":
        {
            "_id" : "$descendent_dyn.name",
            "total" : {"$sum" : 1}
        }
    },
    {"$sort" : { "total" : -1 } },
    {"$limit" : 10}
]

In [22]:
for karl in characters.aggregate(pipeline):
    print(karl)

{'_id': 'Amrubid', 'total': 396}
{'_id': 'Sami', 'total': 299}
{'_id': 'Khaireddin', 'total': 152}
{'_id': 'Aligoodarzid', 'total': 139}
{'_id': 'Muradid', 'total': 132}
{'_id': 'Ali', 'total': 120}
{'_id': 'Karen', 'total': 112}
{'_id': 'Tatikid', 'total': 111}
{'_id': 'Sajrid', 'total': 103}
{'_id': 'Shujahid', 'total': 97}

## Descendents who were Killed

In [23]:
pipeline = [   
    {
    
    "$match" : { "_id" : 629398}
    },
    {
    
      "$graphLookup": {
      "from": "characters",
      "startWith": "$_id",
      "connectFromField": "_id",
      "connectToField": "rparents",
      "as": "descendent",
      "depthField": "generation"
   }},
    {"$unwind" : "$descendent"},
    {"$sort" : { "descendent.b_d": -1 }},
    {"$match" : {"descendent.killer" : {"$exists" : True}}},
    #{"$project" : {"_id" : 0, "descendent" : 1}}
    {"$group" : {"_id" : None, "total" : {"$sum" : 1}}}
]

In [24]:
for karl in characters.aggregate(pipeline):
    print(karl)

{'_id': None, 'total': 326}